.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}
.cards__item {
    display: flex;
    padding: 1rem;
    width: 400px;
}

@media (min-width: 40rem) {

    .cards__item {
        width: 50%;
    }
}

@media (min-width: 56rem) {
    .cards__item {
        width: 33.3333%;
    }
}

@media (max-width: 50rem) {
    .cards {
        justify-content: center
    }
}