#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    width: 100%;
    scrollbar-width: thin;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

*:focus {
    outline: none;
}

::-webkit-scrollbar {
    height: 10px;
    width: 4px;
    background: transparent;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 2px;
}

:hover::-webkit-scrollbar-thumb {
    background-color: #696969;
}